.main_buy .swiper {
    width: 90% ;
    height: 100% !important;
    direction: ltr;
}

.main_buy .swiper-slide {
    text-align: center;
    background: #CCE6E6;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 2px solid #008080;
padding: 1rem 1rem;
border-radius: 4px;
}
.main_buy .swiper-slide .descend{
    text-decoration: line-through;
}
.main_buy .swiper-slide h5{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;

}
.main_buy .swiper-slide p{
font-family: Inter;
font-size: 14px !important;
font-weight: 400 !important;
text-align: center;
margin-bottom: 1rem !important;
}
.main_buy .swiper-slide .btn_next{
    background-color: #008080;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 30px;
}
.main_buy .swiper-slide .btn_next:hover{
    opacity: .7;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
display: none;
}