.product_details_false{
    overflow-y: hidden !important;
    height: 100vh !important;
}
.product_head {
    height: 50vh;
}
.product_head .head_image{
    height: 100%;
    width: 50%;
    padding: .5rem 0;
}
.product_head .home_icon{
    color: #008080;
    font-size: 20px;
}
.product_head span,
.product_head .page1{
    color: #000 !important;
    font-size: 16px;
    font-weight: 500;
}
.btn-book{
    width: 100%;
}
.ltr .btn-book{
    margin-left: 7rem;
}
.rtl .btn-book{
    margin-right: 7rem;
}
.btn-Add.next{
    padding: 7px 45px;
}
.ltr .nots .icon{
    font-size: 2.2rem !important;
}
.rtl .nots .icon{
    font-size: 1.5rem !important;
}
.nots_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem !important;
}
.nots .input_nots{
    width: 90%;
    border: none !important;
    border-bottom: 2px solid #008080 !important;
    background-color: #d3d3d35e !important;
    border-radius: 0 !important;
    
}
.rtl .nots .input_nots{
    border-right: 0px !important;
}
.ltr .nots .input_nots{
}