
  .mySwiper {
    height: 25vh;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 1;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiper_img{
    height: 100%;
    width: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  