/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    /* Styles for medium devices */

    /* Start in home page responsive */
    /* 1-NavBar */
    .navbar {
        height: 8vh;
    }

    .navbar-brand {
        width: 16% !important;
    }
    .dropmenu {
        top: 6.5rem !important;
        width: 35vw !important;
        z-index: 1111;
    }

    /* 2-Header Home */
    .header {
        height: 75vh;
        background-position: 0 0 60px 0;
    }

    .header .header_text h2 {
        font-size: 1.7rem;
    }

    /* 2-All Serves- Serves Row -one Product */
    .card.one_Product {
        width: 84%;
        height: 29vh;
    }

    .ltr .card.one_Product {
        margin-left: 2rem;
    }

    .rtl .card.one_Product {
        margin-right: 2rem;
    }

    /* 3- Sponsor */
    .ltr .sponsor_text {
        margin-right: -1rem;
    }

    /* 4- Footer */
    .ltr .footer .social_icon {
        margin-left: 5rem !important;
    }

    .ltr .footer .footer_list {
        margin-left: 2rem !important;
    }

    /* Start in All Product page responsive */
    /* 1-Header of product */
    .head_serves {
        height: 20vh;
        position: relative;
    }

    .head_serves .head_text h2 {
        color: #fff !important;
        font-size: 2.6rem;
        margin-top: -2rem;
    }

    .head_serves .head_text span {
        color: #fff;
        font-size: 23px;
        font-weight: 500;
    }

    .head_serves .head_text {
        position: absolute;
        top: 5rem;
        left: 35%;
        z-index: 11;
    }

    .ltr .head_serves .head_text .home_icon {
        margin-left: 2rem;
    }

    /* 2-Main Product */
    .main_product .servies .one_Product {
        height: 30vh;
    }

    .main_product .servies .card.one_Product .card_text_product h6 {
        font-size: 17px;
        padding-left: 0rem !important;
    }

    .main_product .servies .card.one_Product .card_text_product h6 span {
        padding-left: 2rem;
    }

    /* Start in Serves Details page responsive */
    /* 1-main Serves Details - product Head */
    .main_product_details .product_head {
        height: 25vh;
    }

    /* 1-main Serves Details - Body Details  */
    .body_details h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .body_details p, .body_details li {
        font-size: 17px;
        font-weight: 500;
    }

    .body_details .stock h4 span {
        font-weight: 600;
        font-size: 17px;
    }

    .ltr .time_date h5 {
        margin-left: 0rem;
    }

    .body_details .time_input .input_time {
        border: 2px solid #008080d2;
        border-radius: 5px;
        padding: 0 .5rem;
        height: 4vh;
        width: 80%;
    }

    .form-control {
        border: 2px solid #008080d2 !important;
        border-right: 0px !important;
        padding: 0 .5rem;
        height: 4vh !important;
    }

    .input-group-append {
        height: 4vh !important;
    }

    .ltr .total_price {
        margin-left: 1.5rem;
    }

    .ltr .time_date .btn-Add {
        margin-left: 10%;
    }

    .ltr .btn-book {
        margin-left: 0rem;
    }

    .rtl .total_price {
        margin-right: 1.5rem;
    }

    .rtl .time_date .btn-Add {
        margin-right: 10%;
    }

    .rtl .btn-book {
        margin-right: 0rem;
    }

    .rtl .btn-book {
        margin-right: 0rem;
    }

    .input-group-text {
        height: 4vh !important;
    }

    /* Start in Booking Step 1 page responsive */
    /* 1-main Serves Details - product Head */
    .booking_container {
        margin: 1rem !important;
    }

    .booking_row_main {
        gap: 1rem;
        width: 95vw;
    }

    .row_booking {
        width: 27% !important;
    }

    .serves_col {
        height: 40vh !important;
        scroll-behavior: smooth;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: #008080a4 white !important;
    }

    /* 1-main Serves Details - serves Card */
    .book_card .serv_text h6 {
        font-size: 16px;
    }

    .book_card .serv_text p {
        font-size: 14px;
        margin-bottom: .2rem;
    }

    .book_card .serv_text span {
        font-size: 15px;
    }

    .ltr .book_card .serv_text button {
        margin-left: 10rem;
    }

    .rtl .book_card .serv_text button {
        margin-right: 10rem;
    }

    .main_book .btn_next {
        margin: 1rem 1rem 0 1.4rem;
    }

    /* 1-main Serves Details - Booking Details  */
    .booking_details {
        padding: 1rem 1rem !important;
        height: auto;
    }

    .booking_details h4 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .booking_details h6 {
        font-weight: 600;
        font-size: 16px;
    }

    .booking_details p {
        font-size: 14px;
        font-weight: 500;
        padding-left: 1rem !important;
    }

    .booking_details .serves_name {
        margin: 0 !important;
    }

    /* Booking Details */
    .total {
        height: 16vh;
        margin-top: 2rem !important;
        height: 10vh !important;
    }

    /* Start in Booking Step 2 page responsive */
    /* 1- booking step 2 - main booking*/
    .main_book {
        overflow-x: hidden;
    }

    /* 1- booking step 2 - DateTime*/
    .date-and-time {
        overflow: hidden !important;
    }

    .date_time h5 {
        font-size: 19px;
    }

    .date_time .delivery_date h5 {
        font-size: 16px;
    }

    .time_input .input_time {
        height: 4vh;
    }

    .massage {
        height: 15vh;
        width: 110%;
    }
    /* Start in Booking Step 4 page responsive */
    /* 1-main Serves Details - product Head */
    .ltr .payment .visa{
        margin-left: 8.5rem !important;
    }
    .rtl .payment .visa{
        margin-right: 8.5rem !important;
    }

    /* Start in Log In page responsive */
    .login .login_main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ltr .login .login_main .form .form-control {
        border-right: 2px solid #008080 !important;
    }

    .rtl .login .login_main .form .form-control {
        border-left: 2px solid #008080 !important;
    }

    .login .login_main .form .form-check-label {
        font-size: 15px;
    }

    /* Start in Sing Up page responsive */
    .singup .form_head img {
        width: 75%;
    }

    .form .form-control,
    .form .form-select {
        height: 3.5vh !important;
    }

    /* Start in Verify page responsive */
    .verify .form .form_head {
        width: 90% !important;
    }

    .form .form_head h4 {
        font-size: 19px;
    }

    /* Start in Phone Number page responsive */
    /* Phone Number */
    .phone_login .form {
        position: absolute;
        z-index: 1111111;
        top: 10rem;
        left: 9rem;

    }

    .phone_login .form .form-select {
        width: 35% !important;
    }
}



/* Small devices (phones) */
@media (max-width: 576px) {
    /* Styles for small devices */

    /* Start in home page responsive */
    /* 1-NavBar */
    .navbar {
        height: 8vh;
    }

    .navbar-brand {
        width: 18% !important;
    }
    .dropmenu {
        top: 4rem !important;
        right: 2rem;
        width: 75vw !important;
        z-index: 1111;
    }
    /* 2-Header Home */
    .header {
        height: 50vh;
    }

    .header .header_text h2 {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: .5rem;
    }

    .header .header_text .header_form {
        width: 95%;
    }

    .header input {
        margin-top: -1rem;
    }


    /* 2-All Serves- Serves Row -one Product */
    .card.one_Product {
        width: 84%;
        height: 26vh;
    }

    .ltr .card.one_Product {
        margin-left: 2rem;
    }

    .head h4 {
        font-size: 17px;
    }

    .ltr .allservice .link span {
        padding-left: 0rem;
        font-size: 15px;
    }

    .rtl .allservice .link span {
        padding-right: 0rem;
        font-size: 15px;
    }

    .rtl .card.one_Product {
        margin-right: 2rem;
    }

    .servies_image p {
        font-size: 16px !important;
    }

    .card.one_Product .card_text_product {
        padding: 1rem .5rem;
    }

    .one_Product {
        height: 30vh !important;
    }

    .one_Product .card_image_product {
        height: 50% !important;
    }

    .one_Product .card_text_product p {
        font-size: 16px !important;
    }

    .one_Product .card_text_product h6 {
        font-size: 15px !important;
    }

    .one_Product .card_text_product h6 span {
        font-size: 15px !important;
        padding-left: 1.3rem !important;
    }

    /* 4- Footer */
    .ltr .footer .social_icon {
        margin: 1rem 0;
        margin-left: 9rem !important;
    }

    .ltr .footer .footer_list {
        margin-left: 2rem !important;
    }

    /* Start in All Product page responsive */
    /* 1-Header of product */
    .head_serves {
        height: 17vh;
        position: relative;
    }

    .head_serves .head_text h2 {
        color: #fff !important;
        font-size: 1.4rem;
        margin-top: -2rem;
        margin-bottom: 0;
    }

    .head_serves .head_text span {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

    .head_serves .head_text {
        position: absolute;
        top: 4rem;
        left: 26%;
        z-index: 11;
    }

    .ltr .head_serves .head_text .home_icon {
        margin-left: 0rem;
    }

    /* 2-Main Product */
    .ltr .card.one_Product {
        margin-left: 1rem;
    }
    
    /* Start in all Serves page responsive */
    /* 1-main Serves Details - product Head */
    .head_serves .head_text h2 {
        color: #fff !important;
        font-size: 1.4rem;
        margin-top: -2rem;
        margin-bottom: 0;
    }
    
    /* Start in Serves Details page responsive */
    /* 1-main Serves Details - product Head */
    .main_product_details .product_head {
        height: 25vh;
        margin-bottom: 1rem;
    }

    /* 1-main Serves Details - Body Details  */

    .product_head span, .product_head .page1 {
        font-size: 14px ;
    }
    .body_details .stock h4 span {
        font-weight: 600;
        font-size: 17px;
    }

    .ltr .time_date h5 {
        margin-left: 0rem;
    }

    .body_details .time_input .input_time {
        border: 2px solid #008080d2;
        border-radius: 5px;
        padding: 0 .5rem;
        height: 5.5vh;
        width: 80%;
    }

    .delivery_date .form-control {
        border: 2px solid #008080d2 !important;
        padding: 0 .5rem;
        height: 5.5vh !important;
        margin-bottom: 1rem;
        width: 63vw !important;
    }
    .ltr .delivery_date .form-control {
        border-right: 0px !important;
    }
    .rtl .delivery_date .form-control {
        border-left: 0px !important;
    }
    .input-group-append {
        height: 4vh !important;
    }

    .ltr .total_price {
        margin-left: 1.5rem;
    }

    .ltr .time_date .btn-Add {
        margin-left: 10%;
    }

    .ltr .btn-book {
        margin-left: 0rem;
    }

    .rtl .total_price {
        margin-right: 1.5rem;
    }

    .rtl .time_date .btn-Add {
        margin-right: 10%;
    }

    .rtl .btn-book {
        margin-right: 0rem;
    }

    .rtl .btn-book {
        margin-right: 0rem;
    }

    .input-group-text {
        height: 5.5vh !important;
    }
    .total_price {
        padding: 6px 0px;
        margin: 0 !important;
    }
    .btn-Add{
        width: 80%;
    }
    .nots{
        width: 40vh;
    }
    .nots .icon{
        font-size: 1.9rem;
    }
    .nots p{
        font-weight: 500;
    }
    .nots .btn-details{
        color: #008080;
        font-weight: 500;
        font-size: 16px;
        margin: 0 .4rem;
        margin-top: 2.5rem;
        cursor: pointer;
    }
    .ltr .nots .icon{
        margin-right: .5rem;
    }
    .rtl .nots .icon{
        margin-left: .5rem;
    }

    
    /* Start in Booking Step 1 page responsive */
    /* 1-main Serves Details - product Head */
    .booking_container {
        margin: 1rem !important;
    }

    .booking_row_main {
        gap: 1rem;
        width: 94vw;
    }

    .row_booking {
        width: 27% !important;
    }

    .serves_col {
        height: 40vh !important;
        scroll-behavior: smooth;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: #008080a4 white !important;
    }

    /* 1-main Serves Details - serves Card */
    .book_card .serv_text h6 {
        font-size: 16px;
    }

    .book_card .serv_text p {
        font-size: 14px;
        margin-bottom: .2rem;
    }

    .book_card .serv_text span {
        font-size: 15px;
    }
    .book_card .serv_text button{
        padding: 4px 20px;
    }
    .ltr .book_card .serv_text button {
        margin-left: 7rem;
    }

    .rtl .book_card .serv_text button {
        margin-right: 10rem;
    }

    .main_book .btn_next {
        margin: 1rem 1rem 0 1.4rem;
    }

    /* 1-main Serves Details - Booking Details  */
    .booking_details {
        padding: 1rem 1rem !important;
        height: auto ;
    }

    .booking_details h4 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .booking_details h6 {
        font-weight: 600;
        font-size: 16px;
    }

    .booking_details p {
        font-size: 14px;
        font-weight: 500;
        padding-left: 1rem !important;
    }

    .booking_details .serves_name {
        margin: 0 !important;
    }

    /* Booking Details */
    .total {
        margin-top: 2rem !important;
        height: 12vh !important;
    }

    /* Start in Booking Step 2 page responsive */
    /* 1- booking step 2 - main booking*/

    /* 1- booking step 2 - DateTime*/
    .date_time h5 {
        font-size: 17px;
    }

    .date_time .delivery_date h5 {
        font-size: 15px;
    }

    .time_input .input_time {
        height: 5.5vh;
    }

    .massage {
        height: 15vh;
        width: 110%;
    }
    .booking_container{
        overflow-y: hidden !important;
    }
    /* Start in Log In page responsive */
    .ltr .login .login_main .form .form-control {
        border-right: 2px solid #008080 !important;
    }

    .rtl .login .login_main .form .form-control {
        border-left: 2px solid #008080 !important;
    }

    .login .login_main .form .form-check-label,
    .login .login_main .form .forget_password {

        font-size: 13px;
    }

    .login .submit_btn p {
        font-size: 15px;
    }

    .login .submit_btn .sing_in {
        padding: 5px 10px;
        font-size: 18px;
    }

    /* 3- why us */
    .Why-Us .card .why-us-text h5 {
        font-size: 16px;
    }

    .Why-Us .card .why-us-text p, .Why-Us p {
        font-size: 14px;
        font-weight: 500;
    }

    /* 5- Sponsor */
.Justlife_protects h2,
.Justlife_protects p{
    color: #fff;
}
.Justlife_protects h2{
    font-size: 18px;
    margin-bottom: 1rem;
}
.Justlife_protects p{
    font-size: 16px;
}
.sponser img {
    width: 50% !important;
}
.Justlife_protects .col-lg-3{
    width: 90px !important;
    height: 90px !important;
    padding: 1rem !important;
    margin-top: 2rem !important;
}
.download .img_download{
    width: 100vw !important;
}
.download .img_download .download_img{
    width: 50%;
}
.mobile_pic{
    display: none;
}
    /* Start in Sing Up page responsive */
    .singup .form_head img {
        width: 95%;
    }

    .form .form-control,
    .form .form-select {
        height: 4.5vh !important;
    }

    .media {
        margin-bottom: -1rem;
    }

    .pl1 {
        padding-left: 0 !important;
        margin-bottom: 1rem;
        padding-right: 0rem !important;
    }

    .pl2 {
        padding-right: 0 !important;
        margin-bottom: 1rem;
        padding-left: 0 !important;
    }

    .singup .form .form-select {
        width: 65% !important;
    }

    /* Start in Verify page responsive */
    .verify .form .form_head {
        width: 90% !important;
    }

    .form .form_head h4 {
        font-size: 19px;
    }

    .login_main .form {
        padding: .5rem .5rem;
    }

    .Verify .form {
        padding: 0rem 0rem;
        padding-left: .5rem;
    }

    /* Start in Phone Number page responsive */
    /* Phone Number */
    .phone_login .form {
        position: absolute;
        z-index: 1111111;
        top: 10rem;
    }

    .phone_login .form .form-select {
        width: 50% !important;
    }

    .phone_login .form {
        padding: 1rem 0rem;
        width: 90%;
        left: 1.8rem;
    }
        /* Start in Booking Step 4 page responsive */
    /* 1-main Serves Details - product Head */
    .ltr .payment .visa{
        margin-left: 5rem !important;
    }
    .rtl .payment .visa{
        margin-right: 5rem !important;
    }
}
@media (max-width: 375px) {
        .phone_login .form .form-select {
        width: 59% !important;
        height: 7vh !important;
    }
    .phone_login .form .phone{
        height: 7vh !important;

    }
    .form-control-verify {
        margin: 0rem .2rem !important;
        padding: 0 !important;
        text-align: center;
        border: none;
        border-bottom: 2px solid #008080;
    }
    .header {
        height: 60vh;
    }
    .card.one_Product{
        height: 40vh !important;
    }
    .ltr .card.one_Product {
        margin-left: .3rem;
    }
    .Justlife_protects .col-lg-3 {
        display: none;
    }
    .Justlife_protects h2
    ,.Justlife_protects p { 
        width: 80vw !important;
    }
    .total{
        height: 15vh !important;
    }
    .time_input .input_time {
        height: 5.5vh;
        width: 93%;
    }
            /* Start in Booking Step 4 page responsive */
    /* 1-main Serves Details - product Head */
    .payment .create_pay{
        width: 95% !important;
    }
    .ltr .payment .create_pay{
        margin-left: .5rem !important;
    }
    .rtl .payment .create_pay{
        margin-right: .5rem !important;
    }
    .ltr .payment .visa{
        margin-left: 2rem !important;
    }
    .rtl .payment .visa{
        margin-right: 2rem !important;
    }
    .payment .nots .icon{
        font-size:5rem !important;
    }
    .payment .nots .btn-details{
        margin-top: 8rem;
    }
}